.AddButton,
.RemoveButton {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: #333;
}

.AddButton:hover,
.RemoveButton:hover {
  cursor: pointer;
  background-color: #444;
}
